{% extends "base.html" %}  
{% load crispy_forms_tags %}


{% block css_add %}
<style>
    .btn-success:hover {
        background-color: #ff0004; /* Change this to your desired hover color */
    }

   body{

    background-color: rgb(251, 210, 168);
   } 
</style>
{% endblock %}

{% block   main %}

 <h1 class="text-center p-5" >I am  add Task page</h1>
 
 <div >
    <form style="width: 50%; margin: auto;" method="post">
        {% csrf_token %}   
       
        {{ data | crispy }}
           
        <button  class="btn btn-success" > Submit </button>
    </form>

    <br><br>
 </div>
 
{% endblock  %}